## NASA Mars News

In [15]:
# import dependencies

import requests
import pymongo
import time
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs


from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\elsmi\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [3]:
# URL for scraping

url = "https://redplanetscience.com/"
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\elsmi\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# scrape the header

header = soup.find_all("div", class_="content_title")[0]

In [6]:
header_text = header.text
header_text

"A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes"

In [7]:
# scrape the teaser text

content = soup.find_all("div", class_="article_teaser_body")[0]

In [8]:
content_text = content.text
content_text

"Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition. "

In [9]:
browser.quit()

## JPL Mars Space Images - Featured Image

In [16]:
url = "https://spaceimages-mars.com/"

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\elsmi\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [17]:
html = browser.html
soup = bs(html, "html.parser")

In [19]:
# get the url for the image 

image = [i.get("src") for i in soup.find_all("img", class_= "headerimage fade-in")]
image[0]

'image/featured/mars2.jpg'

In [20]:
# create complete url

featured_image_url = url + image[0]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [21]:
browser.quit()

## Mars Facts

In [25]:
url = "https://galaxyfacts-mars.com/"

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\elsmi\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [26]:
html = browser.html
soup = bs(html, "html.parser")

In [27]:
# scrape the table from the website

table = soup.find_all("table", class_= "table")[0]
table

<table class="table">
<tbody>
<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>
<tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>
<tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>
<tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>
<tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>
</tbody>
</table>

In [28]:
# need to extract the headers and columns

headers = [i.text for i in table("th")]
headers

[' Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [36]:
earth = [i.text for i in table("span", class_= "purple")]
earth

[' Earth ',
 '12,742 km',
 '5.97 × 10^24 kg',
 '1',
 '149,598,262 km',
 '365.24 days',
 '\t-88 to 58°C']

In [37]:
mars = [i.text for i in table("span", class_= "orange")]
mars

[' Mars',
 '6,779 km',
 '6.39 × 10^23 kg ',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C']

In [38]:
facts_df = pd.DataFrame({
    "Fact": headers,
    "Earth": earth,
    "Mars": mars
})
facts_df

                       Fact            Earth              Mars
0   Mars - Earth Comparison           Earth               Mars
1                 Diameter:        12,742 km          6,779 km
2                     Mass:  5.97 × 10^24 kg  6.39 × 10^23 kg
3                    Moons:                1                 2
4        Distance from Sun:   149,598,262 km    227,943,824 km
5           Length of Year:      365.24 days    687 Earth days
6              Temperature:    \t-88 to 58°C      -87 to -5 °C

In [39]:
facts_df.set_index("Fact", inplace= True)
facts_df

                                    Earth              Mars
Fact
 Mars - Earth Comparison           Earth               Mars
Diameter:                       12,742 km          6,779 km
Mass:                     5.97 × 10^24 kg  6.39 × 10^23 kg
Moons:                                  1                 2
Distance from Sun:         149,598,262 km    227,943,824 km
Length of Year:               365.24 days    687 Earth days
Temperature:                \t-88 to 58°C      -87 to -5 °C

In [43]:
facts_html = facts_df.to_html(classes= "table table-striped")
print(facts_html)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Earth</th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Fact</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Earth</td>
      <td>Mars</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>12,742 km</td>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>5.97 × 10^24 kg</td>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>149,598,262 km</td>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>365.24 days</td>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>\t-88 to 58°C</td>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

In [44]:
browser.quit()

## Mars Hemispheres